@mixin bg-cover {
  background-size: cover;
  background-position: center center;
}
@mixin flex-wrap($j-c: space-between, $a-i: stretch, $f-d: row) {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: $f-d;
  justify-content: $j-c;
  align-items: $a-i;
}

@mixin md {
  @media(min-width: 768px) {
    @content
  }
};
@mixin lg {
  @media(min-width: 992px) {
    @content
  }
}